# Ignore everything
/*

!.gitignore
!.devcontainer
!.devcontainer/*
!.gitpod.yml
!.gitpod.Dockerfile
!learn.json
!bc.json
!README.md
!README.es.md
!.vscode

!/exercises
!/exercises/*

*.pyc
__pycache__/
.pytest_cache/

!/.learn
/.learn/**
!/.learn/resets
!/.learn/resets/**
!/.learn/assets
!/.learn/assets/**

